
h2 {
    position: relative;
}

a {
    text-decoration: none;
    color: #AB203D;
}

a::before {
    content: "";
    height: 2px;
    width: 120px;
    background-color: rgb(127, 56, 56);
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s ease;
}

a:hover::before {
    transform: scaleX(1);
}